
{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>


    body{


        background-color: gray;

    }



</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">
            
            <i class="text-success fa fa-line-chart fa-3x" aria-hidden="true"></i>

            <br> <br>
   

            <h5> <strong> Sales Report </strong> </h5>

            <hr>

            {% if product_name_for_qty %}

            <p> <h5> The item with the <b>most number of quantity sold</b> is <b>{{product_name_for_qty}}</b>, at <b>{{total_quantity_sold}}</b> units sold.</h5> </p>

            <p> This is followed by: </p>
            {% for product_info in top_products_info_by_qty %}
                <p>
                    {{ product_info.product_name_for_qty }}, {{ product_info.total_quantity_sold }} units sold.
                </p>
            {% endfor %}

            <p> <h5> The item that <b>earned the most money</b> is <b>{{product_name_for_price}}</b>, at <b>${{total_amount_sold}}</b> raised. </h5> </p>

            <p> This is followed by: </p>
            {% for product_info in top_products_info_by_sold %}
                <p>
                    {{ product_info.product_name_for_amt_sold }}, ${{ product_info.total_amt_sold }} raised.
                </p>
            {% endfor %}
            

            {% else %}

            <p>No products were sold to generate this report.</p>

            {% endif %}


        </div>


    </div>


</body>


{% endblock %}





